/* Set the background color for the entire page */
body {
  background-color: black;
  margin: 0; /* Remove default margin */
  background-image: url("Ai_image.png");
  background-size: 2250px;
}

/* Style the header element */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* Position the header at the top of the page */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  /* Stretch the header across the entire width */
  /* Adjust height as needed */
  height: 100px;  /* Example height for reference */
}


/* Style the text inside the header */
.header-text {
  color: white;
  font-size: 24px;
  padding: 20px 0;
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* Style the image */
#image{
  width: 100px; /* Set width */
  height: 100px; /* Set height */
  margin-bottom: 100vh;
  background-size: contain; /* Scale the image to fit within the element dimensions */
}
#imagetwo {
  height: 150px;
  margin-top: 0;
  display: flex;
  flex: wrap;
  margin-right: 5vh;
}
#mybutton{
  background-color: #4CAF50; /* Green color */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 5vh;
}
