/* textarea{
    margin-left: 50%;
    margin-bottom: 50%;
    justify-content: center;
    align-items: center;
    background-image: red;
    opacity: 0.5;
}
button{
    margin-left: 50%;
    margin-bottom: 50%;
    justify-content: center;
    align-items: center;
}
*{
    margin-left: 50%;
    margin-bottom: 50%;
    justify-content: center;
    align-items: center;
    background-image: red;
    opacity: 0.5;
} */
